/* Styles for the main content area */
.content {
    flex: 1; /* Ensures the content takes up all the remaining space */
    overflow-y: auto; /* Enables vertical scrolling if the content overflows */
    background-color: transparent; /* Sets a transparent background */
    display: flex; /* Uses flexbox for layout */
    margin-top: 50px; /* Adds a top margin of 50px */
}